<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>pagina2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">pagina2</ion-title>
    </ion-toolbar>
  </ion-header>




  <ion-img
  src="/assets/Kesikesiperrito.jpg"
  alt="no disponible"
></ion-img>


<ion-button [routerLink]="['/pagina1']">pagina1</ion-button>


</ion-content>
